@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
    color: #fff;
}

h1 {
    color: #fff;
}

p {
    color: #ccc;
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
        background-color: #666;
    }
}

input {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    background-color: #444;
    color: #fff;
}
